body{
    text-align: center;
    transform: translateY(40px);
}

#number_404{
    font-size: 200px;
}

#advice{
    font-size: 20px;
    transform: translateY(-60px);
}

a{
    text-decoration: none;
    color: rgb(67, 67, 232);
}