body{
    margin: 0;
    min-height: 190vh;
    display: flex;
    flex-direction: column;
    background-color: #212121;
}


#main_box{
    height: 700px;
    width: 1050px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom , #212121 40% ,rgb(214, 183, 6));
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    display: flex;
    gap: 170px;
    /* box-shadow: 8px 8px 8px 10px rgb(214, 183, 6); */
    
}


#image{
    height: 520px;
    width: 500px;
    border-radius: 20px;
}

#cart_disc{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 28px;
}

.edit_label{
    color:white ;
    text-align: center;
}

.input_text{
    border-radius: 10px;
    outline: none;
    border: none;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#label_input_flex{
    display: flex;
    flex-direction: column;
}

#add_div{
    text-align: center;
    padding-top: 30px;
}


#add_cart{
    cursor: pointer;
    font-size: 40px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    width:  500px;
    height: 80px;
    transform: translateY(-150px);
    transition: color 0.5s, background-color 0.5s;
}

#add_cart:hover{
    color: white;
    background-color: black;

}



#text_description{
    height: 80px;
}

@media (max-width: 767px) {
    #main_box{
        height: 390px;
        width: 85%;
        max-width: 767px;
        margin-top: 50px;
        gap: 20px;
        
    }
    #image{
        height: 220px;
        width: 100%;
        max-width: 767px;

    }

    #cart_disc{
        gap: 5px;
        font-size: 28px;
    }

    .edit_label{
        font-size: 15px;
    }
    .input_text{
        height: 18px;
        width: 85%;
        max-width: 767px;
        font-size: 15px;

    }
    #add_cart{
        font-size: 22px;
        width:  200px;
        height: 40px;
        transform: translateY(-120px);


    }

    
    #text_description{
        height: 40px;
    }

 


}