#footer h1{
    margin: 0;
}

#footer{
    position: relative;
    color: white;
    background-color: rgb(39, 39, 39);
    width: 100%;
    min-width: 1100px;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    margin-top: auto;
}

#footer_aboveLine{
    display: flex;
    justify-content: space-around;
}

.footer_contact{
    display: flex;
    align-items: center;
    gap: 5px;
}

#icons{
    display: flex;
    gap: 20px;
}

.footer_icon{
    color: #e76704;
}

.footer_links{
    color: white;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
}

.footer_topics {
    display: inline-block;
    border-bottom: 1px solid #e76704;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#footer_input{
    background-color: rgb(70, 70, 70);
    outline: none;
    border-radius: 50px;
    border: none;
    width: 160px;
    height: 38px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 80px;
    color: white;
    transform: translateX(-10px);
}

#footer_input::placeholder{
    color: white;
}

#footer_submit{
    border-radius: 50px;
    background-color: #e76704;
    color: white;
    height: 38px;
    width: 74px;
    outline: none;
    border: none;
    transform: translateX(-87px);
    cursor: pointer;
}

#face_icon{
    border: solid;
    padding: 9px 13px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

#twitt_icon{
    border: solid;
    padding: 10px 11px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

#linked_icon{
    border: solid;
    padding: 10px 11px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

.flex_links{
    display: flex;
    gap: 90px;
}

#p_4{
    transform: translateY(-18px);
}

.padd{
    transform: translateY(-33px);
}