body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    /* min-width: 1100px; */
}

#bar{
    height: 200px;
}

#under_header{
    height: 60px;
    background-color: rgb(220, 191, 153);
    /* margin-top: 10px; */
    margin: 10px auto; 
    border-radius: 50px;
    display: flex;              
    justify-content: space-between;   
    width: 90%;
    max-width: 1000px;
    align-items: center;       
    padding: 0 25px;
    /* box-sizing: border-box; */
    transform: translateY(-120px);
}

#search_icon{
    color: white;
    transform: translateX(35px);
    cursor: pointer;
}

#search{
    background-color: #e76704;
    outline: none;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 10px;
    height: 35px;
    width: 160px;
    font-size: 16px;
    border: none;
    color: white;
}

#search::placeholder{
    color: white;
}

#icons_h{
    display: flex;
    gap: 20px;
}

#face_icon_h{
    border: solid;
    padding: 9px 13px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

#twitt_icon_h{
    border: solid;
    padding: 10px 11px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

#linked_icon_h{
    border: solid;
    padding: 10px 11px;
    border-radius: 50%;
    color: #e76704;
    background-color: #e76704;
    -webkit-text-fill-color: white;
    cursor: pointer;
}
.shop_word{
    color: #ffffff;
    padding-top: 50px;
    font-size: 60px;
    text-align: center;
    transform: translateY(-120px);
}

#carts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minma);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    transform: translateY(-110px);
    /* flex-wrap: wrap; */
    padding: 0 15px;
    /* box-sizing: border-box; */
}

#main_cart{
    background: linear-gradient(to bottom, rgb(152, 151, 151) 0%, rgb(152, 151, 151) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%); 
    height: 480px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    /*flex-shrink: 0;*/
}

#main_cart:hover{
    transform: scale(1.1, 1.1);
}

#name{
    color: rgb(17, 124, 124);
}

#cart_discription h1{
    margin: 0;
}

#cart_discription{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* transform: translateY(20px); */
}

#cost{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#main_price{
    text-decoration: line-through;
    color: rgb(123, 123, 123);
}

#main_cart_discr{
    font-weight: bolder;
    color: black;
}

#image{
    width: 300px;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

#price{
    color: black;
}

#stars{
    color: gold;
}

#add_to_cart{
    transform: translateX(60px) translateY(-15px);
    border: 1px solid black;
    color: black;
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

#add_to_cart:hover{
    color: white;
    background-color: black;
}

#add_cart{
    font-size: 40px;
    border: 1px solid black;
    transform: translateY(150px) translateX(50px);
    width: 200px;
    height: 80px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.5s, background-color 0.5s;
}

#add_cart:hover{
    color: white;
    background-color: black;
}

/* #new_cart{
    background: linear-gradient(to bottom, rgb(152, 151, 151) 0%, rgb(152, 151, 151) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%); 
    height: 480px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: transform 0.5s;
    flex-shrink: 0;
}

#new_cart:hover{
    transform: scale(1.1, 1.1);
} */

#multi_word{
    font-size: 50px;
    transform: translateY(50px);
}

#word_new{
    transform: translateY(-25px);
}

@media (max-width: 767px) {
    #under_header{  
        width: 80%;
        max-width: 500px;
    }

    #icons_h{
        /* display: flex; */
        justify-content: space-between;
        width: 40%;
        /* max-width: 310%; */
        gap: 5px;
    }
    #search{
        width: 80%;
        box-sizing: border-box;
    }
    #carts{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

}