body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../Photos/background.jpg) no-repeat center fixed;
    background-size: cover;
    overflow: hidden; 
    
}


#word_welcome {
    text-align: center;
    margin-bottom: 20px;
    font-size: 80px;
    background: linear-gradient(to right, rgb(9, 232, 113), rgb(0, 166, 255), rgb(8, 238, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    transform: translateY(-80px);


}


.main_border {
    border: 1px solid rgba(255,255,255,0.2);
    height: 490px;
    width: 100%;             
    max-width: 400px;         
    padding: 25px;
    border-radius: 20px;
    outline: none;
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    margin-top: 20px;
    transform: translateY(-80px);
}


#Log_word {
    font-size: 75px;
}


#words_inside_box1 {
    transform: translateY(-40px);
    text-align: center;
    background: linear-gradient(to right, rgb(9, 232, 113) 8%, rgb(0, 166, 255), rgb(8, 238, 192) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}


.input_text {
    border-radius: 6px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    outline: none;
    -webkit-text-fill-color: white;
    margin: 10px 0;
    width: 280px;             
    font-size: 17px;
    height: 15px;
}

.input_text:focus {
    border: 1px solid #4F46E5;
    box-shadow: 0 0 10px rgba(79,70,229,0.5);
}

.input_text:-webkit-autofill,
.input_text:-webkit-autofill:hover,
.input_text:-webkit-autofill:focus,
.input_text:-webkit-autofill:active {

    -webkit-text-fill-color: white !important;
    color: white !important;

    -webkit-backdrop-filter: blur(10px) inset !important;
    backdrop-filter: blur(10px) inset !important;

    transition: background-color 9999s ease-in-out 0s;
}

#check {
    display: flex;
    gap: 100px;                
    justify-content: center;  
    flex-wrap: wrap;         
}

.edit_label {
    font-size: 25px;
}


#submit_button {
    margin: 20px auto;
    display: block;
    cursor: pointer;    
    background: linear-gradient(to right, rgb(9, 232, 113) 8%, rgb(0, 166, 255), rgb(8, 238, 192) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-radius: 5px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    outline: none;
    transition: 0.5s;
}

#submit_button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(74, 62, 94, 0.4);
}


#forgot_pass {
    cursor: pointer;
    text-align: center;
}


#icons {
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
}

#face_icon,
#goo_icon,
#twitt_icon {
    border: none;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-text-fill-color: white;
    width: 15px;

}

#face_icon:hover,
#goo_icon:hover,
#twitt_icon:hover {
    transform: scale(1.1);
}

#face_icon {
    background-color: #1877F2;
}

#goo_icon {
    background-color: #DB4437;
}

#twitt_icon {
    background-color: #000000;
}
a {
    color: #7C3AED;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {

    .input_text{
        width: 200px;
        height: 10px;
    }

    #check{
        display: flex;
        gap: 20px;
    }

    #word_welcome {
        font-size: 45px;
        transform: translateY(-50px);
    }

    #Log_word {
        font-size: 50px;
    }

    .main_border {
        padding: 20px;
        height: 400px;
        width: 80%;
    }

    .edit_label {
        font-size: 18px;
    }
}