body{
    margin: 0;
    min-height: 170vh;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    align-items: center;
}

#all{
    display: flex;
    gap: 30px;
}

#main_word2{
    color: white;
    font-size: 45px;
}

#main_carts{
    display: flex;
    flex-direction: column;
    background-color: white ;
    border-radius: 10px;
    padding-left: 10px;
    width: 880px;
    height: 490px;
    
}
#above_line{
    
    display: flex;
    gap: 50px;
    
}


#topics{
    padding-left: 20px;
    color: rgb(151, 152, 153);
}

#trash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

#QP_topics{
    display: flex;
    flex-direction: column;
    gap: 70px;
    transform: translateX(12px);
    
}

#first_item{
    display: flex;
    gap: 80px;
    padding-top: 10px;
}

#short_desc{
    font-size: 20px;
    transform: translateY(-10px);
    font-weight: bold;
}

#all_desc{
    display: flex;
    flex-direction: column;
}

#details{
    display: flex;
    gap: 10px;
    color: rgb(134, 135, 136);
    transform: translateY(-30px);
}

#image_desc{
    display: flex;
    gap: 10px;
}

#quantity{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 7px;
    padding-left: 10px;
    border-color: rgb(0, 0, 0);
    /* transform: translateY(15px) translateX(30px); */
    outline: none;
    align-items: center;
}


#image{
    width: 160px;
    height: 100px;
    margin-left: 10px;
    border-radius: 10px;
}

#main_q{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#main_P{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#all_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(12px);

    
}


#p_each{
    transform: translateY(-35px);
    color: #626060;
}

#price{
    font-size: 20px;
    transform: translateY(-10px);
    font-weight: bold;
}

#delete_item{
    transform: translateX(40px) translateY(16px);
    border: 1px solid ;
    padding: 10px;
    border-radius: 8px;
    height: 20px;
    cursor: pointer;
}

#delete_item:hover{
    background-color: red;
    color: white;
}

#line_and_under{
    display: flex;
    flex-direction: column;
}


#line{
    width: 889px;
    height: 2px;
    background-color: #a9a6a6;
    transform: translateX(-10px);
    
}



button{
    transform: translateX(20px) translateY(20px);
    width: 160px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(180, 173, 173);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}

#free_deli{
    width: 880px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(126, 236, 126);
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}


#free_words{
    color: rgb(7, 100, 7);
    transform: translateY(-6px);
    font-size: 20px;
}

#truck{
    color:rgb(7, 100, 7) ;
    padding-top: 18px;
}

#main_dil{
    display: flex;
    flex-direction: column;
}

#right_side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#coupon_box{
    background-color: white;
    width: 280px;
    height: 140px;
    border-radius: 10px;
    padding-left: 30px;

    
}

#coupon_text{
    border-radius: 4px;
    height: 25px ;
    width: 180px;
    outline: none;
    border-color: #000000;
}

#edit_label{
    border: none;
    height: 30px;
    width: 60px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    transform: translateX(-47px);
}

#ckeckout_box{
    width: 280px;
    height: 180px;
    border-radius: 10px;
    padding-left: 30px;
    background-color: white;
}

#price_box{
    display: flex;
    gap: 100px;
}

#disc_box{
    display: flex;
    gap: 118px;
    transform: translateY(-20px);
}

#total_box{
    display: flex;
    gap: 138px;
    transform: translateY(-40px);
}

#total{
    font-weight: bold;
}

#line2{
    width: 250px;
    height: 2px;
    background-color: #787676;
    transform: translateX(-5px) translateY(-30px);
}

#paymet_methods{
    display: flex;
    gap: 10px;
    transform: translateX(10px);
}

#image_card{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    transform: translateY(-30px);
    cursor: pointer;
}

/* Small phone (only if needed) */
@media (max-width: 400px) {
    body{
        /* min-width: 280px; */
        align-items: normal;
    }
    #main_word2{
        font-size: 40px;
        text-align: center;
    }
    
    #first_item{
        gap: 0px;
    }

    #image_desc{
        display: flex;
        gap: 5px;
    }

    #image{
        width: 50px;
        height: 40px;
        margin-left: 2px;

    }
    #all_desc{
        font-size: 10px;
        transform: translateY(-8px);
    }
    #short_desc{
        font-size: 15px;
    }
    #details{
        display: flex;
        flex-direction: column;
        gap: 0px;

    }
    #quantity{
        height: 25px;
        width: 60px;
        font-size: 10px;
    }

    #Q_P{
        gap: 0px;
    }
    #main_carts{
        gap: 0px;
        padding-left: 0;
        width: 375px;
        height: 420px;
    }
    #free_deli{
        width: 366px;
    }
    #line{
        width: 385px;
        transform: translateX(-10px);
        
    }
    
    #line_and_under{
        transform: translateY(-50px);
    }
    #all{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #coupon_box{
        width: 345px;
    }

    #above_line{
        gap: 0px;
        size: 50px;
    }

    #ckeckout_box{
        width: 345px;

    }

    #topics{
        padding-left: 2px;
    }

    #main_q{
        transform: translateX(-8px);
    }
    
    #all_price{
        
        transform: translateX(-2px);
    }
    #trash{
        transform: translateX(-12px);

    }




    
    
}

/* Phone */
@media (max-width: 768px) {
    body{
        min-width: 300px;
        align-items: normal;
    }
    #main_word2{
        font-size: 40px;
        text-align: center;
    }
    
    #first_item{
        gap: 0px;
    }

    #image_desc{
        display: flex;
        gap: 5px;
    }

    #image{
        width: 50px;
        height: 40px;
        margin-left: 2px;

    }
    #all_desc{
        font-size: 10px;
        transform: translateY(-8px);
    }
    #short_desc{
        font-size: 15px;
    }
    #details{
        display: flex;
        flex-direction: column;
        gap: 0px;

    }
    #quantity{
        height: 25px;
        width: 60px;
        font-size: 10px;
    }

    #Q_P{
        gap: 0px;
    }
    #main_carts{
        gap: 0px;
        padding-left: 0;
        width: 375px;
        height: 420px;
    }
    #free_deli{
        width: 366px;
    }
    #line{
        width: 385px;
        transform: translateX(-10px);
        
    }
    
    #line_and_under{
        transform: translateY(-50px);
    }
    #all{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #coupon_box{
        width: 345px;
    }

    #above_line{
        gap: 0px;
        size: 50px;
    }

    #ckeckout_box{
        width: 345px;

    }

    #topics{
        padding-left: 2px;
    }

    #main_q{
        transform: translateX(-8px);
    }
    
    #all_price{
        
        transform: translateX(-2px);
    }
    #trash{
        transform: translateX(-12px);

    }



}

/* Tablet */
@media (max-width: 1024px) {
        #bar{
        min-width: 10px;
        padding: 0px ;
        align-items: center;
        justify-content: space-around;
        height: 70px;
    }
    #icon_main{
        font-size: 9px;
        margin-top: 20px;
        transform: translateY(-3px);
        gap: 5px;
    }
    #orca_image{
        height: 25px;
        width: 25px;
    }

    #bar_links{
        gap: 8px;
        width: 220px;
    }

    .link{
        font-size: 8px;
        
    }

    #cart_icon{
        font-size: 10px;
        gap: 6px;
        transform: translateY(-6px);
    }
    #cart_word{
        font-size: 13px;
        transform: translateY(-2px);
    }
    .menu-icon {
        font-size: 13px;

    }
}

