body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    background: url(../Photos/background.jpg) no-repeat center fixed;
    background-size: cover;
}

#word_register{
    background: linear-gradient(to right ,rgb(9, 232, 113) 8%, rgb(0, 166, 255) , rgb(8, 238, 192) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-size: 80px;
    font-family: cursive;
    text-align: center;
    
}

.main_border {
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    width: 550px;
    height: 535px;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(5px);
    transform: translateY(-50px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);


}

.dis_flx{
    display: flex;
    justify-content: center;  
    padding-top: 20px;

}

#words_inside_box1 {
    text-align: center;
    background: linear-gradient(to right, rgb(9, 232, 113), rgb(0, 166, 255), rgb(8, 238, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input_text {
    border-radius: 6px;
    padding: 6px 15px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(179, 179, 179);
    outline: none;
    -webkit-text-fill-color: rgb(255, 255, 255);   
    margin: 8px;
    width: 200px;
    height: 20px;
    font-size: 20px;
}

.input_text:focus {
    border: 1px solid #4F46E5;
    box-shadow: 0 0 10px rgba(79,70,229,0.5);
}


.input_text:-webkit-autofill,
.input_text:-webkit-autofill:hover,
.input_text:-webkit-autofill:focus,
.input_text:-webkit-autofill:active {

    -webkit-text-fill-color: white !important;
    color: white !important;

    -webkit-backdrop-filter: blur(10px) inset !important;
    backdrop-filter: blur(10px) inset !important;

    transition: background-color 9999s ease-in-out 0s;
}


.edit_label{
    font-size: 25px;

}

#gen_edit{
    gap: 40px;
}


#submit_button {
    margin: 20px auto;
    display: block;
    cursor: pointer;    
    background: linear-gradient(to right, rgb(9, 232, 113), rgb(0, 166, 255), rgb(8, 238, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-radius: 5px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    outline: none;
    transition: 0.5s;
}

#submit_button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(74, 62, 94, 0.4);
}

#icons{
    justify-content: center;
    display: flex;
    gap: 30px;
}

#icons i:hover {
    transform: scale(1.1);
}

#face_icon{
    border: solid;
    padding: 10px 13px ;
    border-radius: 50%;
    color:#1877F2 ;
    background-color: #1877F2;
    -webkit-text-fill-color: white;
    cursor: pointer;
}


#goo_icon{
    border: solid;
    padding: 10px 11px ;
    border-radius: 50%;
    color:#DB4437 ;
    background-color: #DB4437;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

#twitt_icon{
    border: solid;
    padding: 10px 11px ;
    border-radius: 50%;
    color:#000000 ;
    background-color: #000000;
    -webkit-text-fill-color: white;  
    cursor: pointer; 
}

a {
    color: #7C3AED;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .main_border {
        width: 350px;
    }

    .input_text {
        width: 120px;
        font-size: 15px;

    }

    .edit_label{
        font-size: 20px;

    }

}
